.page-title {
   display: inline-block;
   font-family: var(--ff-bold);
   font-size: var(--fs-64);
   line-height: 4rem;
   text-transform: uppercase;

   span {
      font-family: var(--ff-light);
      display: block;
      color: hsl(var(--clr-grey) / var(--opacity, 1));
   }
}

.main-button {
   width: 13.8rem;
   height: 4.3rem;
   display: flex;
   align-items: center;
   justify-content: center;
   gap: .75rem;
   border: none;
   cursor: pointer;
   user-select: none;

   span {
      position: relative;
      display: inline-block;
      width: 1rem;
      height: 1px;
      border-radius: 1rem;
      background-color: var(--arrow-color, hsl(var(--clr-dark)));
      transition: .1s all ease-in-out;

      &::after,
      &::before {
         content: "";
         position: absolute;
         right: -2px;
         width: .5rem;
         height: 1px;
         border-radius: 1rem;
         background-color: var(--arrow-color, hsl(var(--clr-dark)));
      }

      &::after {
         top: 2.6px;
         transform: rotate(-45deg);
      }

      &::before {
         bottom: 2.6px;
         transform: rotate(45deg);
      }
   }

   &:hover span {
      transform: translateX(.5rem);
   }

   &:active span {
      transform: translateX(1rem);
   }
}

.slider-button {
   position: relative;
   width: 3.3rem;
   height: 3.3rem;
   border: 1px solid hsl(var(--clr-grey) / var(--opacity, 1));
   cursor: pointer;
   transition: .15s all ease-in-out;

   &:hover {
      background-color: hsl(var(--clr-grey) / var(--opacity, .2));
   }

   span {
      position: relative;
      display: inline-block;
      width: 1rem;
      height: .0625rem;
      border-radius: 1rem;
      background-color: var(--arrow-color, hsl(var(--clr-dark)));
      transition: .2s all ease-in-out;

      &::after,
      &::before {
         content: "";
         position: absolute;
         width: .5rem;
         height: .0625rem;
         border-radius: 1rem;
         background-color: var(--arrow-color, hsl(var(--clr-dark)));
      }

      &::after {
         top: .16rem;
      }

      &::before {
         bottom: .16rem;
      }
   }

   &.left {
      span {
         &::after {
            left: -.125rem;
            transform: rotate(45deg);
         }

         &::before {
            left: -.125rem;
            transform: rotate(-45deg);
         }
      }
   }

   &.right {
      span {
         &::after {
            right: -.125rem;
            transform: rotate(-45deg);
         }

         &::before {
            right: -.125rem;
            transform: rotate(45deg);
         }
      }
   }
}

.input {
   position: relative;
   display: block;

   &--label {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 1.25rem;
      display: inline-block;
      z-index: 1;
      user-select: none;
      cursor: text;

      span {
         color: #C30000;
      }
   }

   input {
      position: relative;
      width: 24rem;
      height: 2.8rem;
      padding-inline: 1.25rem;
      border: none;
      outline: none;
      z-index: 0;

      &:not(:placeholder-shown) {
         z-index: 2;
      }
   }
}

.textarea {
   position: relative;
   display: block;
   margin-top: var(--flow-space, 1rem);

   &--label {
      position: absolute;
      top: .8rem;
      left: 1.25rem;
      display: inline-block;
      z-index: 1;
      user-select: none;
      cursor: text;

      span {
         color: #C30000;
      }
   }

   textarea {
      position: relative;
      width: 24rem;
      height: 9rem;
      padding: .8rem 1.25rem;
      border: none;
      outline: none;
      z-index: 0;
      resize: none;

      &:not(:placeholder-shown) {
         z-index: 2;
      }
   }
}

.primary-navigation {
   --gap: 4rem;
   list-style: none;
   padding: 0;

   li {
      display: block;
      padding-block: .3rem;
      transition: .2s all ease-in-out;

      a {
         padding-block: .5rem;
         text-decoration: none;
      }

      border-top: 1px solid hsl(var(--clr-dark) / var(--border-opacity, 0));
      border-bottom: 1px solid hsl(var(--clr-dark) / var(--border-opacity, 0));

      &:hover, &:focus {
         --border-opacity: .5;
      }

      &.active {
         --border-opacity: 1;
      }
   }
}