.page-title {
   display: inline-block;
   font-family: var(--ff-bold);
   font-size: var(--fs-64);
   line-height: 4rem;
   text-transform: uppercase;

   span {
      font-family: var(--ff-light);
      display: block;
      color: hsl(var(--clr-grey) / var(--opacity, 1));
   }
}

.main-button {
   width: 13.8rem;
   height: 4.3rem;
   display: flex;
   align-items: center;
   justify-content: center;
   gap: .75rem;
   border: none;
   cursor: pointer;
   user-select: none;
   text-decoration: none;

   span {
      position: relative;
      display: inline-block;
      width: 1rem;
      height: 1px;
      border-radius: 1rem;
      background-color: var(--arrow-color, hsl(var(--clr-dark)));
      transition: .1s all ease-in-out;

      &::after,
      &::before {
         content: "";
         position: absolute;
         right: -2px;
         width: .5rem;
         height: 1px;
         border-radius: 1rem;
         background-color: var(--arrow-color, hsl(var(--clr-dark)));
      }

      &::after {
         top: 2.6px;
         transform: rotate(-45deg);
      }

      &::before {
         bottom: 2.6px;
         transform: rotate(45deg);
      }
   }

   &:hover span {
      transform: translateX(.5rem);
   }

   &:active span {
      transform: translateX(1rem);
   }
}

.slider-button {
   position: relative;
   width: 3.3rem;
   height: 3.3rem;
   display: flex;
   align-items: center;
   justify-content: center;
   border: 1px solid hsl(var(--clr-grey) / var(--opacity, 1));
   cursor: pointer;
   transition: .15s all ease-in-out;

   &:hover {
      background-color: hsl(var(--clr-grey) / var(--opacity, .2));
   }

   span {
      position: relative;
      display: inline-block;
      width: 1rem;
      height: .0625rem;
      border-radius: 1rem;
      background-color: var(--arrow-color, hsl(var(--clr-dark)));
      transition: .2s all ease-in-out;

      &::after,
      &::before {
         content: "";
         position: absolute;
         width: .5rem;
         height: .0625rem;
         border-radius: 1rem;
         background-color: var(--arrow-color, hsl(var(--clr-dark)));
      }

      &::after {
         top: .16rem;
      }

      &::before {
         bottom: .16rem;
      }
   }

   &.left {
      span {
         &::after {
            left: -.125rem;
            transform: rotate(45deg);
         }

         &::before {
            left: -.125rem;
            transform: rotate(-45deg);
         }
      }
   }

   &.right {
      span {
         &::after {
            right: -.125rem;
            transform: rotate(-45deg);
         }

         &::before {
            right: -.125rem;
            transform: rotate(45deg);
         }
      }
   }
}

.input {
   position: relative;
   display: block;

   &--label {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 1.25rem;
      display: inline-block;
      z-index: 1;
      user-select: none;
      cursor: text;

      span {
         color: #C30000;
      }
   }

   input {
      position: relative;
      width: 24rem;
      height: 2.8rem;
      padding-inline: 1.25rem;
      border: none;
      outline: none;
      z-index: 0;

      &:not(:placeholder-shown) {
         z-index: 2;
      }
   }
}

.textarea {
   position: relative;
   display: block;
   margin-top: var(--flow-space, 1rem);

   &--label {
      position: absolute;
      top: .8rem;
      left: 1.25rem;
      display: inline-block;
      z-index: 1;
      user-select: none;
      cursor: text;

      span {
         color: #C30000;
      }
   }

   textarea {
      position: relative;
      width: 24rem;
      height: 9rem;
      padding: .8rem 1.25rem;
      border: none;
      outline: none;
      z-index: 0;
      resize: none;

      &:not(:placeholder-shown) {
         z-index: 2;
      }
   }
}

.counter {
   align-items: center;

   span {
      width: 2.5rem;
      height: 2px;
      border-radius: 1rem;
      background-color: hsl(var(--clr-grey) / var(--opacity, 1));
      transform: rotate(-45deg);
   }
}

.project-gallery {
   --gap: 2rem;
   display: grid;
   grid-template-columns: repeat(var(--column-number, 6), 1fr);
   grid-auto-rows: var(--row-size, 16rem);
   grid-auto-flow: dense;

   &--item {
      width: 100%;
      height: 100%;
      position: relative;
      background-color: hsl(var(--clr-grey) / var(--opacity, .2));

      .image {
         width: 100%;
         height: 100%;
         overflow: hidden;

         img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: 50% 50%;
            transition: .5s ease-in-out;
         }
      }

      &:hover {
         .text {
            opacity: 1;
         }

         .image img {
            transform: scale(1.5);
         }
      }

      a {
         cursor: pointer;
         user-select: none;
      }

      .text {
         opacity: 0;
         position: absolute;
         inset: 0;
         padding: 2rem;
         z-index: 4;
         display: flex;
         flex-direction: column;
         text-align: center;
         align-items: center;
         justify-content: center;
         overflow: hidden;
         transition: .3s all ease-in-out;
         background-color: hsl(var(--clr-dark) / var(--opacity, .5));
         backdrop-filter: blur(5px) saturate(1.5);

         .fs-64 {
            font-size: clamp(2rem, 3.5vw, 4rem);
         }
      }
   }

   .w-1 {
      grid-column: span 1;
   }

   .w-2 {
      grid-column: span 2;
   }

   .w-3 {
      grid-column: span 3;
   }

   .w-4 {
      grid-column: span 4;
   }

   .w-5 {
      grid-column: span 5;
   }

   .w-6 {
      grid-column: span 6;
   }

   .h-1 {
      grid-row: span 1;
   }

   .h-2 {
      grid-row: span 2;
   }

   .h-3 {
      grid-row: span 3;
   }

   .h-4 {
      grid-row: span 4;
   }

   .h-5 {
      grid-row: span 5;
   }

   .h-6 {
      grid-row: span 6;
   }
}

@media screen and (max-width:700px) {
   .project-gallery {
      grid-template-columns: repeat(1, 1fr);

      .w-1,
      .w-2,
      .w-3,
      .w-4,
      .w-5,
      .w-6 {
         grid-column: span 1;
      }
   }
}

.primary-header {
   height: var(--header-height);
   align-items: center;
   justify-content: space-between;

   .logo {
      padding-top: 1rem;
   }

   .burger-toggle {
      display: none;
   }
}

.primary-navigation {
   --gap: 4rem;
   height: 2rem;
   list-style: none;
   padding: 0;
   user-select: none;

   li {
      transition: .2s all ease-in-out;

      a {
         display: flex;
         align-items: center;
         height: 100%;
      }

      border-top: 1px solid hsl(var(--clr-dark) / var(--border-opacity, 0));
      border-bottom: 1px solid hsl(var(--clr-dark) / var(--border-opacity, 0));

      &:hover,
      &:focus {
         --border-opacity: .3;
      }

      &.active {
         --border-opacity: 1;
      }
   }
}

.hero {
   justify-content: space-between;
   height: calc(100vh - var(--header-height));

   &-headline {
      --flow-space: clamp(1rem, 6vh, 6rem);
      padding-top: calc(50vh - var(--header-height));

      .slider-buttons {
         position: relative;
         width: min-content;

         &::after {
            content: "";
            position: absolute;
            right: -25rem;
            top: 50%;
            transform: translateY(-50%);
            z-index: -1;
            width: 25rem;
            height: 1px;
            background-color: hsl(var(--clr-grey) / var(--opacity, 1));
         }
      }
   }

   &-image {
      position: relative;
      width: 70%;

      img {
         width: 100%;
         height: 100%;
         object-fit: cover;
      }

      .main-button {
         position: absolute;
         bottom: 0;
      }
   }
}

.about {
   --gap: 2rem;
   grid-template-columns: minmax(0, 1fr) minmax(0, 40rem) 25rem minmax(0, 1fr);
   padding-block: 1.9rem;
   margin-bottom: calc(var(--flow-space) + 2rem);
   background-color: hsl(var(--clr-grey) / var(--opacity, .075));

   &>*:first-child {
      grid-column: 2;
   }

   &>*:last-child {
      grid-column: 3;
   }

   &-images .image {
      flex: 1;

      img {
         height: 100%;
         width: 100%;
         object-fit: cover;
      }

      &:nth-child(1) {
         height: 75%;
         position: relative;

         img:nth-child(2) {
            position: absolute;
            height: 7rem;
            bottom: calc(-7rem - var(--gap));
         }
      }

      &:nth-child(2) {
         margin-top: var(--gap);
      }
   }
}

.tasks {
   max-width: 60rem;
   margin-inline: auto;

   ol {
      --gap: 0 2rem;
      flex-wrap: wrap;
      padding: 0;
      list-style: none;

      li {
         flex: 1;
         align-items: center;
         justify-content: center;

         p {
            width: 15rem;
         }
      }
   }
}

.projects {
   &>*:where(:not(:last-child)) {
      margin-bottom: 2rem;
   }

   .projects-link {
      margin-left: auto;
   }
}

.contact {
   &>*:where(:not(:last-child)) {
      margin-bottom: 2rem;
   }

   &-image {
      height: 23rem;
      width: 100%;

      img {
         height: 100%;
         width: 100%;
         object-fit: cover;
         object-position: 50% 50%;
      }
   }
}

.primary-footer {
   margin-top: 6rem;
   background-color: hsl(var(--clr-dark) / var(--opacity, 1));

   .footer-wrapper {
      --gap: 5rem;
      padding-block: 3.75rem;
      justify-content: space-between;

      .logo {
         flex-shrink: 0;
      }

      ul {
         list-style: none;
         padding: 0;
      }

      .footer-info {
         a {
            transition: .2s all ease-in-out;

            &:hover {
               --opacity: .5;
            }
         }
      }

      .footer-contacts {
         width: 18rem;
         flex-shrink: 0;

         li {
            padding-left: 2rem;
            position: relative;

            &::before {
               content: "";
               position: absolute;
               left: 0;
               top: 50%;
               transform: translateY(-50%);
               width: 1rem;
               aspect-ratio: 1;
               background-repeat: no-repeat;
               background-position: center;
               background-size: auto;
            }
         }

         .address::before {
            background-image: url('../assets/images/address.svg');
         }

         .phone::before {
            background-image: url('../assets/images/phone.svg');
         }

         .email::before {
            background-image: url('../assets/images/mail.svg');
         }
      }

      .footer-socials ul {
         --gap: 2rem;
         flex-wrap: wrap;

         li {
            margin-inline: auto;
         }

         a {
            display: inline-block;
            width: 2rem;
            aspect-ratio: 1;
            background-repeat: no-repeat;
            background-position: center;
            background-size: auto;
            transition: .2s all ease-in-out;

            &:hover {
               opacity: .5;
            }
         }

         .facebook {
            background-image: url('../assets/images/facebook.svg');
         }

         .twitter {
            background-image: url('../assets/images/twitter.svg');
         }

         .linkedin {
            background-image: url('../assets/images/linkedin.svg');
         }

         .pinterest {
            background-image: url('../assets/images/pinterest.svg');
         }
      }
   }

   .rights {
      text-align: center;
      padding-block: 1.5rem;
      color: hsl(var(--clr-grey) / .5);
      border-top: 1px solid hsl(var(--clr-grey) / .3);
   }
}

.project {
   height: 25rem;
   background-color: hsl(var(--clr-grey) / .1);

   --gap: 0;

   .image {
      height: 100%;
      width: 100%;
      overflow: hidden;

      img {
         height: 100%;
         width: 100%;
         object-fit: cover;
         object-position: 50% 50%;
      }
   }

   article {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      width: 35rem;
      flex-shrink: 0;
      padding: 2rem;

      p {
         height: 50%;
         overflow: hidden;
         text-overflow: ellipsis;
      }

      .main-button {
         margin-top: auto;
      }
   }
}