.flex {
   display: flex;
   gap: var(--gap, 1rem);
}

.grid {
   display: grid;
   gap: var(--gap, 1rem);
}

.container {
   max-width: 120rem;
   margin-inline: auto;
   padding-inline: 2em;
}

.sr-only {
   position: absolute;
   width: 1px;
   height: 1px;
   padding: 0;
   margin: -1px;
   overflow: hidden;
   clip: rect(0, 0, 0, 0);
   white-space: nowrap;
   border: 0;
}

/* colors */

.bg-light { background-color: hsl( var(--clg-light) / var(--opacity, 1)) }
.bg-dark { background-color: hsl( var(--clg-dark) / var(--opacity, 1)) }
.bg-grey { background-color: hsl( var(--clg-grey) / var(--opacity, 1)) }

.text-light { color: hsl( var(--clg-light) / var(--opacity, 1)) }
.text-dark { color: hsl( var(--clg-dark) / var(--opacity, 1)) }
.text-grey { color: hsl( var(--clg-grey) / var(--opacity, 1)) }

/* typography */

.ff-black { font-family: var(--ff-black) }
.ff-bold { font-family: var(--ff-bold) }
.ff-medium { font-family: var(--ff-medium) }
.ff-regular { font-family: var(--ff-regular) }
.ff-light { font-family: var(--ff-light) }

.uppercase { text-transform: uppercase }

.fs-200 { font-size: var(--fs-200) }
.fs-64 { font-size: var(--fs-64); line-height: 64px; }
.fs-40 { font-size: var(--fs-40) }
.fs-22 { font-size: var(--fs-22) }
.fs-18 { font-size: var(--fs-18) }
.fs-16 { font-size: var(--fs-16) }
.fs-14 { font-size: var(--fs-14) }
.fs-12 { font-size: var(--fs-12) }