@import url('./_fonts.scss');

:root {
   /* colors */
   --clg-white: 0 0% 95%;
   --clg-light: 0 0% 90%;
   --clg-grey: 0 0% 74%;
   --clg-dark: 0 0% 20%;

   /* font-sizes */
   --fs-200: 12.5rem;
   --fs-64: 4rem;
   --fs-40: 2.5rem;
   --fs-22: 1.375rem;
   --fs-18: 1.125rem;
   --fs-16: 1rem;
   --fs-14: .875rem;
   --fs-12: .75rem;

   /* font-families */
   --ff-black: 'SFProDisplay-Black', sans-serif;
   --ff-bold: 'TTHoves-Bold', sans-serif;
   --ff-medium: 'TTHoves-Medium', sans-serif;
   --ff-regular: 'TTHoves-Regular', sans-serif;
   --ff-light: 'TTHoves-Light', sans-serif;
}