@import url('./_reset.scss');
@import url('./_fonts.scss');
@import url('./_var.scss');
@import url('./_utility.scss');

body {
   font-family: var(--ff-regular);
   font-size: var(--fs-16);
   color: hsl(var(--clg-dark));
   background-color: hsl(var(--clg-light));
}