@import './_reset', './_fonts', './_var', './_utility';

body {
   font-family: var(--ff-regular);
   font-size: var(--fs-16);
   color: hsl(var(--clg-dark));
   background-color: hsl(var(--clg-white));
}