@import './_reset', './_fonts', './_var', './_utility', './_components';

body {
   font-family: var(--ff-regular);
   font-size: var(--fs-16);
   color: hsl(var(--clr-dark));
   background-color: hsl(var(--clr-white));
}

main {
   --flow-space: clamp(2rem, 9vw, 6rem);
   padding-top :var(--header-height);
}